#bday {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    margin-top: 200px;
    font-size: 60px;
}
.next {
    width: 200px;
    background-color: rgba(155, 198, 246, 0.8);
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 60px;
}

h2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 30px;
}
img:hover {
    opacity: 0.8;
}
